body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
    color: antiquewhite;
    margin: 0;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
    font-size: xx-large;    
}

.name > p {
    margin: 0;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    gap: 0.3em;
}

